
@{
    ViewData["Title"] = "Netello";
}

<h1>Netello AB - Tools</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="NABLogs" asp-action="Index">Netello AB Logs</a>
    </li>
</ul>

