
@{
    ViewData["Title"] = "Reporting";
}

<h1>Reporting</h1>

<h4>Incidents</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Incidents">Go to Incidents</a>
    </li>
</ul>

<h4>Purchaseorders</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseOrders" asp-action="ListPOs">Go to Purchaseorders</a>
    </li>
</ul>

<h4>WORKLOGS !</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="WLogs" asp-action="Index">WLogs</a>
    </li>
</ul>
